{% extends 'base.html' %}

{% block content %}

<h2><i class="fa-solid fa-pen"></i> Submit Complaint</h2>

<div class="card" style="max-width:500px; margin:auto;">

<form method="POST" enctype="multipart/form-data">

    <!-- TITLE -->
    <input type="text" name="title" placeholder="Title" required>

    <!-- DESCRIPTION -->
    <textarea name="description" placeholder="Description" required></textarea>

    <!-- CATEGORY -->
    <select name="category" required>
        <option value="">Select Category</option>
        <option value="WiFi">WiFi</option>
        <option value="Hostel">Hostel</option>
        <option value="Classroom">Classroom</option>
        <option value="Librabry">Librabry</option>
        <option value="Lab">Lab</option>
        <option value="Electrical Issues">Electrical Issues</option>
        <option value="Accounts">Accounts</option>
        <option value="Physical Education">Physical Education</option>
        <option value="Student Assocation">Student Association</option>
        <option value="Student Cell">Student Cell</option>
        <option value="Women Cell">Women Cell</option>
        <option value="Examination Branch Issues">Examination Branch Issues</option>


        
        
    </select>

    <!-- PRIORITY -->
    <select name="priority" required>
        <option value="">Select Priority</option>
        <option value="Low">Low</option>
        <option value="Medium">Medium</option>
        <option value="High">High</option>
    </select>

    <!-- IMAGE -->
    <input type="file" name="image">

    <!-- BUTTON -->
    <button type="submit">Submit</button>

</form>

</div>

{% endblock %}