{% extends 'base.html' %}

{% block content %}

<h2><i class="fa-solid fa-user-plus"></i> Register</h2>

<div class="card" style="max-width:400px; margin:auto;">

<form method="POST">

    <input type="text" name="username" placeholder="Username" required>

    <input type="password" name="password" placeholder="Password" (min 6 characters) required>
<input type="email" name="email" placeholder="Email" required>
    <button type="submit">Register</button>

</form>

</div>

{% endblock %}